/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}