/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '//fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.fill-space {
  flex: 1 1 auto;
}
